python==3.11.5
pandas==2.1.1
spacy==3.6.1
spacy-model-en-core-web-sm==3.6.1
spacy-model-de-core-news-md==3.6.1
nltk==3.8.1
matplotlib==3.7.2
seaborn==0.13.0
stanza==1.6.1
wordcloud=1.9.2
requests-oauthlib==1.3.1
sklearn==1.3.0
beautifulsoup4==4.12.2
html5lib==1.1
regex==2022.7.9
numpy==1.24.3
gensim==4.3.0
scipy==1.11.1


#Additional requirements:
# FastText models (Place these models into 'OUT_DIR/data'):
# wiki-news-300d-1M.vec (Accessible from: https://fasttext.cc/docs/en/english-vectors.html)
# wiki.de.vec (Accessible from: https://fasttext.cc/docs/en/pretrained-vectors.html

# MediaStack API key can be obtained here: https://mediastack.com/signup 
# You will be prompted to enter your API key when running 'get_all_documents.py'

# If you want to run 'run_all_analyses.py' separately from 'get_all_documents.py':
# Specify OUT_DIR, where 'eng' and 'deu' are located when running the script in command line


